<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" tabindex="0" @mouseover="setAutoplayOn()" @mouseleave="setAutoplayOff()">
                <div class="item">
                <!-- <img v-for="(element, i) in slides" :src="element.image" :alt="element.title" :class="(i == 0) ? 'visible' : ''"  /> -->
                <img :src="slides[activeImage].image" :alt="slides[activeImage].title" />
                <div class="text">
                    <h3>{{slides[activeImage].title}}</h3>
                    <p>{{slides[activeImage].text}}</p>
                </div>
                </div>
                </div>

                <div class="thumbs">
                    <div @click= "prevSlide()" class="prev"></div>
                    <div @click= "nextSlide()" class="next"></div>
                    <div v-for="element,i in slides" :class="getActive(i)" @click="changeImage(i)">
                        <img :src="slides[i].image" :alt="slides[i].title" />
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>